* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 1024px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

header img {
  margin-right: 20px;
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.menu__list {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 50px;
}

mark {
  background-color: inherit;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

section {
  margin-bottom: 20px;
}

.skill-list {
  list-style-type: none;
  margin-left: -25px;
}

article {
  margin-bottom: 20px;
}

.code {
  background-color: rgb(182, 255, 227);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
  padding: 0;
  font-size: 1.2em;
}

.footer-list li {
  list-style-type: none;
}

.footer {
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #000000;
}

.rsschool {
  width: 70px;
  height: auto;
}