* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  /* width: 1024px; */
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header-background {
  width: 100%;
	height: 60px;
  background: linear-gradient(0deg, rgb(255, 122, 0) 1px, rgb(0, 0, 0) 10%);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.header-logo-wrapper {
  display: flex;
  height: 44px;
  margin: auto 0;
}

.header-nav-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-nav-link {
  transition: .5s;
}

.header-nav-link:hover {
  color: rgb(0, 180, 80);
  transition: .5s;
}

.main-background {
  width: 100%;
  background: #000000;
}

section, article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  max-width: 1024px;
  margin: 0 auto;
  background: #000000;
}

.main-contacts {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 60px;
}

h1 {
  font-size: 2em;
}

.main-contacts img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.main-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  font-size: 50px;
}

mark {
  background-color: inherit;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main-code {
  margin-top: 5px;
  background-color: rgb(30, 30, 30);
  color: rgb(0, 180, 80);;
}

.main-link-github {
  transition: .5s;
}

.main-link-github:hover {
  color: rgb(0, 180, 80);
  transition: .5s;
}

.main-experience-list * {
  transition: .5s;
}

.main-experience-list a:hover {
  color: rgb(0, 180, 80);
  transition: .5s;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
  padding: 0;
  font-size: 1.2em;
}

.footer-list li {
  list-style-type: none;
}

.footer {
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #000000;
}

.rsschool {
  width: 70px;
  height: auto;
}