* {
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 1024px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

header img {
  margin-right: 20px;
  width: 100px;
  height: auto;
  border-radius: 10px;
}